<main class="footer-container">
  <section class="info-section">
    <div class="github">
      Coded by
      <a href="https://github.com/henriqueaf25" target="_blank"
        >Henrique Araújo.</a
      >
      Tindin - Test for Job Position!
    </div>
    <div class="social-media">
      <a
        href="https://www.facebook.com/henrique.araujoferreira"
        target="_blank"
      >
        <div class="social-circle">
          <img src="assets/icons/facebook.svg" />
        </div>
      </a>
      <a href="https://twitter.com/_mozovi" target="_blank">
        <div class="social-circle">
          <img src="assets/icons/twitter.svg" />
        </div>
      </a>
      <a
        href="https://mail.google.com/mail/?view=cm&fs=1&to=henriqueaf25@gmail.com"
        target="_blank"
      >
        <div class="social-circle">
          <img src="assets/icons/gmail.svg" />
        </div>
      </a>
      <a href="https://www.youtube.com" target="_blank">
        <div class="social-circle">
          <img src="assets/icons/youtube.svg" />
        </div>
      </a>
      <a href="https://www.instagram.com/_mozovi" target="_blank">
        <div class="social-circle">
          <img src="assets/icons/instagram.svg" />
        </div>
      </a>
    </div>
  </section>
</main>
